@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}
.fondo {
  background-image: url(../public/img/fondoMain.jpg);
}
html {
  overflow: scroll;
  scrollbar-width: none; /* Para Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Edge */
}
